html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,span
small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td
{
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	text-align:left;
}

body
{
	background:#D3D3D3;
	color:#1a1a1a;
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	letter-spacing:normal;

}

#header
{
	background:url(this) repeat-x #000;
	background-position:top left;
	border:solid #fa7c00;
	border-width:5px 0 0;
	height:109px;
	position:relative;
	width:100%;
	z-index:1;
}

#header .logo
{
	left:50%;
	margin-left:-511px;
	position:absolute;
	top:15px;
	z-index:3;
}

#header
#logoglow
{
	background:url(../images/Logo.png) no-repeat;
	background-position:0 0;
	height:109px;
	left:50%;
	margin-left:-609px;
	position:absolute;
	top:0;
	width:374px;
	z-index:2;
}

#header
span.glow
{
	background:url(../images/Logo.png) no-repeat;
	background-position:0 -109px;
	display:block;
	height:100%;
	width:100%;
}

ul#navigation
{
	list-style:none;
	margin-right:-600px;
	position:absolute;
	right:50%;
	top:39px;
}

ul#navigation
li
{
	float:left;
	margin:0 8px;
}

ul#navigation
a
{
	color:#b6b6b6;
	font-weight:700;
	padding:15px;
	text-decoration:none;
}

ul#navigation a:hover
{
	color:#FFF;
}
ul#navigation li.current_page_item a, ul#navigation li.current_page_ancestor a {
    color: #FA7C00;
}
body.single li.page-item-52 a {
    color: #FA7C00 !important;
}
h2 a:hover
{
	border-bottom:1px dotted #080909!important;
}

p
{
	margin-bottom:10px;
}
#shelf ul#hot-pocket-nav
{
	display:block;
	height:96px;
	left:50%;
	list-style:none;
	margin-left:-510px;
	position:absolute;
	top:115px;
	width:15px;
}
#sidebar div#outline li a {
    background: none repeat scroll 0 0 #4A4B4F;
    border-left: 1px solid #424347;
    border-right: 1px solid #424347;
    color: #FBFAF6;
    display: block;
    font: 14px Arial,Helvetica,sans-serif;
    height: 20px;
    margin: 0;
    padding: 5px 8px 5px 5px;
    position: relative;
    text-align: right;
    text-decoration: none;
    width: 275px;
}
#sidebar div#outline li.current_page_item a {
    color: #FC7C01;
    font-weight: bold;
}
#sidebar div#outline li a:hover {
    text-decoration: underline;
}